google-auth-oauthlib
google-auth-httplib2
google-api-python-client
ollama
dateparser
SpeechRecognition
faster-whisper
soundfile
edge-tts
playsound==1.2.2
PyAudio
numpy
openwakeword
onnxruntime
python-dateutil
